// Unnamed //

// Options
$theme-name: 'Unnamed';
$theme-type: 1;
$theme: hsl(-140,60%,60%);
$theme2: hsl(163,60%,60%);
$black1: hsl(163,8%,15%);
$black4: hsl(163,4%,23%);
$white1: hsl(197,10%,90%);
$white4: hsl(197,5%,84%);
$border-width: 1px;
$radius1: 2px;
$radius2: 4px;
$transition-time: 0.1s;
$font: Ubuntu, Roboto, Oxygen, -apple-system, BlinkMacSystemFont, Segoe UI, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$shadow-x: 0px;
$shadow-y: 2px;
$shadow-blur: 5px;
$shadow-spread: 1px;
$shadow-opacity: 0.4;


// Calculations
$theme-dark: saturate(darken($theme, 5%), 5%);
$theme-light: desaturate(lighten($theme, 5%), 5%);

$theme2-dark: saturate(darken($theme2, 5%), 5%);
$theme2-light: desaturate(lighten($theme2, 5%), 5%);

$theme-red: adjust-hue($theme, - hue($theme) );
$theme-yellow: adjust-hue($theme, - hue($theme) + 60deg);
$theme-green: adjust-hue($theme, - hue($theme) + 120deg);
$theme-blue: adjust-hue($theme, - hue($theme) + 240deg);

$black2: mix($black1, $black4, 75%);
$black3: mix($black1, $black4, 25%);
$black0: saturate(darken($black1, 5%), 5%);
$black5: mix($black4, $white1, 90%);

$white2: mix($white1, $white4, 75%);
$white3: mix($white1, $white4, 25%);
$white0: desaturate(lighten($white1, 5%), 5%);
$white5: mix($black0, $white4, 10%);

$radius0: $radius1 / 2;
$radius3: $radius2 * 2;

$shadow-color-black: rgba($black1, $shadow-opacity);
$shadow-color-white: rgba($white1, $shadow-opacity/1.5);

$bg0: var(--bg0);
$bg1: var(--bg1);
$bg2: var(--bg2);
$bg3: var(--bg3);
$bg4: var(--bg4);
$bg5: var(--bg5);

$fg0: var(--fg0);
$fg1: var(--fg1);
$fg2: var(--fg2);
$fg3: var(--fg3);
$fg4: var(--fg4);
$fg5: var(--fg5);

@mixin navigator{
  @if ($theme-type == 1 or $theme-type == 3 or $theme-type == 4){
    --bg0: #{$black0};
    --bg1: #{$black1};
    --bg2: #{$black2};
    --bg3: #{$black3};
    --bg4: #{$black4};
    --bg5: #{$black5};

    --fg0: #{$white0};
    --fg1: #{$white1};
    --fg2: #{$white2};
    --fg3: #{$white3};
    --fg4: #{$white4};
    --fg5: #{$white5};
  }
  @else {
    --bg0: #{$white0};
    --bg1: #{$white1};
    --bg2: #{$white2};
    --bg3: #{$white3};
    --bg4: #{$white4};
    --bg5: #{$white5};

    --fg0: #{$black0};
    --fg1: #{$black1};
    --fg2: #{$black2};
    --fg3: #{$black3};
    --fg4: #{$black4};
    --fg5: #{$black5};
  }
  color: $fg2;
}

@mixin content{
  @if ($theme-type == 1){
    --bg0: #{$black0};
    --bg1: #{$black1};
    --bg2: #{$black2};
    --bg3: #{$black3};
    --bg4: #{$black4};
    --bg5: #{$black5};

    --fg0: #{$white0};
    --fg1: #{$white1};
    --fg2: #{$white2};
    --fg3: #{$white3};
    --fg4: #{$white4};
    --fg5: #{$white5};
  }
  @else {
    --bg0: #{$white0};
    --bg1: #{$white1};
    --bg2: #{$white2};
    --bg3: #{$white3};
    --bg4: #{$white4};
    --bg5: #{$white5};

    --fg0: #{$black0};
    --fg1: #{$black1};
    --fg2: #{$black2};
    --fg3: #{$black3};
    --fg4: #{$black4};
    --fg5: #{$black5};
  }
  color: $fg2;
}

@mixin section{
  @if ($theme-type == 1 or $theme-type == 4){
    --bg0: #{$black0};
    --bg1: #{$black1};
    --bg2: #{$black2};
    --bg3: #{$black3};
    --bg4: #{$black4};
    --bg5: #{$black5};

    --fg0: #{$white0};
    --fg1: #{$white1};
    --fg2: #{$white2};
    --fg3: #{$white3};
    --fg4: #{$white4};
    --fg5: #{$white5};
  }
  @else {
    --bg0: #{$white0};
    --bg1: #{$white1};
    --bg2: #{$white2};
    --bg3: #{$white3};
    --bg4: #{$white4};
    --bg5: #{$white5};

    --fg0: #{$black0};
    --fg1: #{$black1};
    --fg2: #{$black2};
    --fg3: #{$black3};
    --fg4: #{$black4};
    --fg5: #{$black5};
  }
  color: $fg2;
}

@mixin sidebar{
  @if ($theme-type == 1 or $theme-type == 3 or $theme-type == 4 or $theme-type == 5){
    --bg0: $black0;
    --bg1: $black1;
    --bg2: $black2;
    --bg3: $black3;
    --bg4: $black4;
    --bg5: $black5;

    --fg0: $white0;
    --fg1: $white1;
    --fg2: $white2;
    --fg3: $white3;
    --fg4: $white4;
    --fg5: $white5;
  }
  @else {
    --bg0: $white0;
    --bg1: $white1;
    --bg2: $white2;
    --bg3: $white3;
    --bg4: $white4;
    --bg5: $white5;

    --fg0: $black0;
    --fg1: $black1;
    --fg2: $black2;
    --fg3: $black3;
    --fg4: $black4;
    --fg5: $black5;
  }
  color: $fg2;
}

@mixin input{
  @include section;
}

@mixin clickable{
  @include section;
}

body{
  @if ($theme-type == 1 or $theme-type == 3){
    --bg0: #{$black0};
    --bg1: #{$black1};
    --bg2: #{$black2};
    --bg3: #{$black3};
    --bg4: #{$black4};
    --bg5: #{$black5};

    --fg0: #{$white0};
    --fg1: #{$white1};
    --fg2: #{$white2};
    --fg3: #{$white3};
    --fg4: #{$white4};
    --fg5: #{$white5};
  }
  @else {
    --bg0: #{$white0};
    --bg1: #{$white1};
    --bg2: #{$white2};
    --bg3: #{$white3};
    --bg4: #{$white4};
    --bg5: #{$white5};

    --fg0: #{$black0};
    --fg1: #{$black1};
    --fg2: #{$black2};
    --fg3: #{$black3};
    --fg4: #{$black4};
    --fg5: #{$black5};
  }
  color: $fg2;
  background: $bg1;
}








@import '../../elementalcss/css/elemental/elemental';






* {
  margin: 0;
  padding: 0;
}

body{
  background: $bg1;
  @media (max-width: 1400px){
    font-size: 18px;
  }
}

main {
  @include content;
  .content {
    margin: 0 auto;
    max-width: 37.5rem;
    min-height: 100vh;
    background: $bg4;
    color: $fg2;
    padding: 22px 33px;
    border-left: $border-width solid $black0;
    border-right: $border-width solid $black0;
  }
}

header{
  @include navigator;

  background: $bg4;
  border-bottom: $border-width solid $theme;
  padding: 1rem;
  max-width: 37.5rem;
  margin: 0 auto;
}



















*{
  font-family: $font, sans-serif;
}

.pallate {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color-white;
  border-bottom-right-radius: $radius2;

  @media (max-width: 1400px){
    position: static;
  }

  .left {
    float: left;
    width: 50%;
    background: $black1;
    padding: 40px;
    border-bottom: $border-width solid $theme;
  }

  .right {
    float: right;
    width: 50%;
    background: $white1;
    padding: 40px;
    border-bottom-right-radius: $radius2;
    border-bottom: $border-width solid transparent;
  }

  .left,
  .right {
    div {
      cursor: pointer;
      width: 100%;
      height: 35px;
      border-radius: var(--radius1);
      margin: 10px 0;
      transition: $transition-time;

      &:hover {
        box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-color-white, $shadow-x $shadow-y $shadow-blur $shadow-color-black;
        // box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-color-black;
        filter: brightness(110%);
      }

      &:active {
        transition: 0s;
        box-shadow: none;
        filter: brightness(90%);
      }
    }

    .theme {
      background: var(--theme);
    }

    .theme2 {
      background: var(--theme2);
    }

    .b1 {
      background: var(--black1);
    }

    .b3 {
      background: var(--black4);
    }

    .w1 {
      background: var(--white1);
    }

    .w3 {
      background: var(--white4);
    }
  }
}
